div.viewContainer

    div(class="loginbox") 

        h1.text-centered= t("app.name").toUpperCase()

        h4.text-centered= t("app.newAccountForm.subtitle").toUpperCase()

        form(method="post" action="" class="forms")
            label= t("app.sharedForm.email")
                div.input-groups
                    input(type="email" name="user-email" class="width-100" ng-model="username" ngDisabled="loading")
                    span.input-append
                        i(class="fa fa-user")
            label= t("app.sharedForm.password")
                div.input-groups
                    input(type="password" name="user-password" class="width-100" ng-model="password" ngDisabled="loading")
                    span.input-append   
                        i(class="fa fa-lock")
                div.forms-desc.ng-hide(ng-hide="hideError")
                    span.error 
                        i.fa.fa-exclamation
                        span &nbsp; {{ errorMessage }}
        
            div.loginError
                

            div.units-row.text-centered 
                div.unit-50
                    a(href="#/login")
                        button.btn-blue.btn.width-100= t("app.sharedForm.back")
                div.unit-50
                    button.btn-blue.width-100(ng-click="formCreateAccount()" ngDisabled="loading")= t("app.newAccountForm.submit")
                        span &nbsp; 
                        i.fa.fa-refresh.fa-spin.ng-hide(ng-hide="!loading")



