#editProjects
    form(method="post" ng-submit="saveProject()" class="forms" name="projectEditForm" novalidate)
        label= t("app.projectEditForm.projectName")
            div.input-groups.width-100
                input(type="text" name="projectName" ng-model="project.name" 
                    ng-Disabled="loading" required)
            div.forms-desc.error(ng-show="projectNameFieldRequired()")= t("app.validationMessages.projectNameRequired")

        label= t("app.projectEditForm.projectDesc")
            div.input-groups.width-100
                textarea(rows="5" name="projectDesc" ng-model="project.description" 
                    ng-Disabled="loading")
        
        label(ng-hide="newProject")= t("app.projectEditForm.projectAdmins") 
            &nbsp 
            a(ng-click="addAdmin()")
                i.fa.fa-plus
            div.input-groups.width-100
                ul(ng-repeat="admin in project.admins" ng-cloak)
                    li {{admin}}  &nbsp
                        a(ng-hide="project.admins.length < 2" ng-click="removeAdmin(admin)")
                            i.fa.fa-remove

        label(ng-hide="newProject")= t("app.projectEditForm.projectUsers")
            &nbsp 
            a(ng-click="addUser()")
                i.fa.fa-plus
            div.input-groups.width-100
                ul(ng-show="project.users.length" ng-repeat="user in project.users" ng-cloak)
                    li {{user}} &nbsp
                        a(ng-click="removeUser(user)")
                            i.fa.fa-remove
                
                ul(ng-hide="project.users.length") 
                    li No users are added to this project


        div.loginError.ng-hide(ng-hide="hideError")
                p.error 
                    i.fa.fa-info-circle
                    span &nbsp; {{ errorMessage }}   

        p 
            a.btn.btn-blue(href="#/listProjects")= t("app.projectEditForm.cancel") 

            button.btn.btn-blue(type="submit" ng-disabled="loading")= t("app.projectEditForm.save") 
                span &nbsp; 
                i.fa.fa-refresh.fa-spin.ng-hide(ng-hide="!loading")
                    

