#editProjects
    form(method="post" ng-submit="saveProject()" class="forms" name="projectEditForm" novalidate)
        label= t("app.projectEditForm.projectName")
            div.input-groups.width-100
                input(type="text" name="projectName" ng-model="project.name" 
                    ng-Disabled="loading" required)
            div.forms-desc.error(ng-show="projectNameFieldRequired()")= t("app.validationMessages.projectNameRequired")

        label= t("app.projectEditForm.projectDesc")
            div.input-groups.width-100
                textarea(rows="5" name="projectDesc" ng-model="project.description" 
                    ng-Disabled="loading")
        
        label(ng-hide="newProject")= t("app.projectEditForm.projectAdmins") 
            div.input-groups.width-100
                div(ng-repeat="admin in project.admins" ng-cloak)
                    span.label.label-green {{ admin }} 
                        a(ng-hide="project.admins.length < 2" ng-click="removeAdmin(admin)")
                            i.fa.fa-remove
                a(href="/views/partials/addUserPopup" class="ajax-popup-link")
                    &nbsp
                    i.fa.fa-plus

                            

        label(ng-hide="newProject")= t("app.projectEditForm.projectUsers")
            div.input-groups.width-100
                div(ng-repeat="user in project.users" ng-cloak)
                    span.label.label-green {{ admin }} 
                        a(ng-hide="project.users.length < 2" ng-click="removeUser(user)")
                            i.fa.fa-remove
                    a(ng-show="$last" ng-click="addAdmin()")
                        &nbsp
                        i.fa.fa-plus
                div(ng-show="project.users.length < 2")
                    i.fa.fa-info-circle &nbsp
                    = t("app.projectEditForm.noProjectUsers")


        div.loginError.ng-hide(ng-hide="hideError")
                p.error 
                    i.fa.fa-info-circle
                    span &nbsp; {{ errorMessage }}   

        p 
            a.btn.btn-blue(href="#/listProjects")= t("app.projectEditForm.cancel") 

            button.btn.btn-blue(type="submit" ng-disabled="loading")= t("app.projectEditForm.save") 
                span &nbsp; 
                i.fa.fa-refresh.fa-spin.ng-hide(ng-hide="!loading")
                    

