div#tools-progress.dashboard-progress
    span
div.dashboard-sidebar-container
    // TODO: This should probably be specific to project list view
    div.dashboard-sidebar
        hr
        ul
            li(ng-class="{active: isHighlighted(sortingOptions[0])}")
                a(href="javascript:void(0)"
                    ng-click="changeSorting(sortingOptions[0])")= t("app.sorting.sortNameAsc")
            li(ng-class="{active: isHighlighted(sortingOptions[1])}")
                a(href="javascript:void(0)"
                    ng-click="changeSorting(sortingOptions[1])")= t("app.sorting.sortNameDesc")
            li(ng-class="{active: isHighlighted(sortingOptions[2])}")
                a(href="javascript:void(0)"
                    ng-click="changeSorting(sortingOptions[2])")= t("app.sorting.lastAccessed")
        hr
        ul
            li
                a(ui-sref="createProject")= t("app.actions.createProject")
        hr
        ul    
            li
                a(href="#/help")= t("app.actions.help")
        hr


div.dashboard-view
    #projects
        #projectRow.row(ng-hide="loading")
            .noResults(ng-show='!projects.length' ng-cloak)
                i.fa.fa-info-circle.fa-3x 
                p
                    span= t("app.projectList.noProjectsMessage1")
                    a(ui-sref="createProject")= t("app.projectList.noProjectsMessage2")
                    span= t("app.projectList.noProjectsMessage3")
            .project(ng-repeat="project in projects" ng-cloak)
                hr
                div.project-title
                    a(href="javascript:void(0)" ui-sref="viewProject({projectId: project._id})")
                        h3.project-name          {{project.name}}  {{project.version}}
                    a.remove-icon(href="#" ui-sref="editProject({projectId: project._id})") 
                            i.fa.fa-gear 
                p.project-description(ng-hide="!project.description")     {{project.description}}
                p.project-info-summary
                    span {{getTotalContributors(project)}}&nbsp;
                    span= t("app.projectList.contributors") 
                    i.fa.fa-circle 
                    span {{project.deviceCount}}&nbsp;
                    span= t("app.projectList.connectedDevices")

            hr
        #dashboardLoading(ng-show="loading")
            // TODO: Make a nicer one
            i.fa.fa-circle-o-notch.fa-spin.fa-5x


        div.text-centered
            ul.pagination(ng-class="{disabled: loading}")
                li
                    a(href="javascript:void(0)" ng-click="prevPage()")&larr;
                li
                    span {{currentPage}} of {{totalPages}}
                li
                    a(href="javascript:void(0)" ng-click="nextPage()")&rarr;
</ul>                

