div.viewContainer

    div(class="loginbox") 
        img.title(src='/img/logo-s.png' alt= t("app.altTags.applicationLogo"))
        h1.text-centered= t("app.name").toUpperCase()

        h4.text-centered= t("app.loginForm.subtitle").toUpperCase()

        form(method="post" ng-submit="formLogin()" class="forms" name="loginForm" novalidate)
            label= t("app.sharedForm.email")
                div.input-groups
                    input(
                        type="email" name="email" class="width-100" 
                        ng-model="email" ng-Disabled="loading" 
                        watch-change="fieldHasChanged()" required
                        )
                    span.input-append
                        i(class="fa fa-at")
                div.forms-desc.error(ng-show="emailFieldRequired()")= t("app.validationMessages.emailRequired")
                div.forms-desc.error(ng-show="emailFieldFormat()")= t("app.validationMessages.emailWrongFormat")
            label= t("app.sharedForm.password")
                div.input-groups
                    input(
                        type="password" name="password" class="width-100" 
                        ng-model="password" ng-disabled="loading" 
                        watch-change="fieldHasChanged()" required
                        )
                    span.input-append   
                        i(class="fa fa-lock")
                div.forms-desc.error(ng-show="passwordFieldInvalid()")= t("app.validationMessages.passwordRequired")


            div.loginError.ng-hide(ng-hide="hideError")
                p.error 
                    i.fa.fa-info-circle
                    span &nbsp; {{ errorMessage }}   

            p
                button.btn.btn-blue.width-100(type="submit" ng-disabled="loading")= t("app.loginForm.login") 
                    span &nbsp; 
                    i.fa.fa-refresh.fa-spin.ng-hide(ng-hide="!loading")

        hr

        div.units-row.text-centered 
            div.unit-50
                a(href="#/createAccount")
                    button.btn.btn-smaller.width-100= t("app.loginForm.createAccount")
            div.unit-50
                button.btn.btn-smaller.width-100= t("app.loginForm.forgotPassword")


