div#tools-progress.dashboard-progress
    span
        
div.dashboard-sidebar-container

div.dashboard-view
    #viewProject
        h2 {{project.name}}
        dl
            dt= t("app.viewProject.projectContributors") 
            dd {{getTotalContributors()}}
            dt= t("app.viewProject.connectedDevices")
            dd {{project.deviceCount}}

        h4= t("app.viewProject.deviceList")

        p(ng-hide="project.deviceCount > 0")= t("app.viewProject.noDevices")

        ul.device-list.blocks-3(
            ng-show="project.deviceCount > 0"
            ng-repeat="device in devices")
            li(ng-click="openDevice(device)")
                div {{device.name}}
       
                        

