doctype html
html(ng-app="dashboardModule")
    head
        title= t("app.dashboardTitle")
        include ./includes/css.jade
        link(href='/css/dashboard.css', rel='stylesheet')       
        include ./includes/favicon.jade

    body
        header.dashboard-header(ng-controller="navigationController")
            div.title
                img(src='/img/logo-xs.png' alt= t("app.altTags.applicationLogo"))
                span= t("app.name")

            div.userInfo
                a(href="#")
                    h5(data-tools="dropdown" data-target="#user-dropdown") Welcome, #{userFirstName}
                
                ul(id="user-dropdown" class="dropdown")
                    li
                        a(href="#")
                            i.fa.fa-gear &nbsp; &nbsp;
                            span= t("app.nav.userPreferences")
                    li
                        a(href="#" ng-click="logout()")
                            i.fa.fa-ban &nbsp; &nbsp;
                            span= t("app.nav.logout")

            // TODO: This will be dynamic depending on current view
            div.nav-wrapper
                nav.navbar
                    div(ncy-breadcrumb)
                    //
                        ul
                            li.active
                                a(ui-sref="listProjects") 
                                    h4= t("app.nav.projects")

           

        div.dashboard-outer(ui-view)



    script(src="/js/libs.js")
    script(src="/js/app.js")