doctype html
html(ng-app="dashboardModule")
head
    title= t("app.dashboardTitle")
    link(href='/css/kube.css', rel='stylesheet')
    link(href='/css/dashboard.css', rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')

body
    header.dashboard-header
        div.title
            img(src='/img/logo-xs.png' alt= t("app.altTags.applicationLogo"))
            span= t("app.name")

        // TODO: This will be dynamic depending on current view
        div.nav-wrapper
            nav.navbar
                ul
                    li.active
                        a(href="#") 
                            h4= t("app.nav.projects")

    div.dashboard-outer
        div.dashboard-sidebar-container
            // TODO: This should probably be specific to project list view
            div.dashboard-sidebar
                hr
                ul
                    li.active
                        a(href="?sortType=name")= t("app.sorting.sortNameAsc")
                    li      
                        a(href="?sortType=name&sortType=desc")= t("app.sorting.sortNameDesc")
                    li
                        a(href="?sortType=accessed&sortType=desc")= t("app.sorting.lastAccessed")
                hr
                ul
                    li
                        a(href="#/createProject")= t("app.actions.createProject")
                hr
                ul    
                    li
                        a(href="#/help")= t("app.actions.help")
                hr


        div.dashboard-view(ng-view)


script(src="/js/bundle.js")