doctype html
html(ng-app="dashboardModule")
    head
        title= t("app.dashboardTitle")
        include ./includes/css.jade
        link(href='/css/dashboard.css', rel='stylesheet')       
        include ./includes/favicon.jade

    body
        header.dashboard-header(ng-controller="navigationController")
            div.title
                img(src='/img/logo-xs.png' alt= t("app.altTags.applicationLogo"))
                span= t("app.name")

            div.userInfo
                a(href="#")
                    h5(data-tools="dropdown" data-target="#user-dropdown") #{userFirstName} #{userLastName }
                ul(id="user-dropdown" class="dropdown")
                    li
                        a(href="#")
                            i.fa.fa-gear &nbsp; &nbsp;
                            span= t("app.nav.userPreferences")
                    li
                        a(href="#" ng-click="logout()")
                            i.fa.fa-ban &nbsp; &nbsp;
                            span= t("app.nav.logout")

            // TODO: This will be dynamic depending on current view
            div.nav-wrapper
                nav.navbar
                    ul
                        li.active
                            a(href="#/listProjects") 
                                h4= t("app.nav.projects")

           

        div.dashboard-outer
            div.dashboard-sidebar-container
                // TODO: This should probably be specific to project list view
                div.dashboard-sidebar
                    hr
                    ul
                        li.active
                            a(href="?sortType=name")= t("app.sorting.sortNameAsc")
                        li      
                            a(href="?sortType=name&sortType=desc")= t("app.sorting.sortNameDesc")
                        li
                            a(href="?sortType=accessed&sortType=desc")= t("app.sorting.lastAccessed")
                    hr
                    ul
                        li
                            a(href="#/editProject")= t("app.actions.createProject")
                    hr
                    ul    
                        li
                            a(href="#/help")= t("app.actions.help")
                    hr


            div.dashboard-view(ng-view)


        script(src="/js/libs.js")
        script(src="/js/app.js")