mixin row
  - var classes = attributes.class ? "row " + attributes.class : "row"
  div(id=attributes.id, class=classes)
    if block
      block
mixin columns
  - var classes = attributes.class ? "columns " + attributes.class : "twelve columns"
  div(id=attributes.id, class=classes)
    if block
      block
mixin colgrid
  - var classes = attributes.class ? "colgrid " + attributes.class : "twelve colgrid"
  div(id=attributes.id, class=classes)
    if block
      block
mixin tiles
  - var classes = attributes.class ? "tiles " + attributes.class : "two_up tiles"
  ul(id=attributes.id, class=classes)
    if block
      block